/* dk */
    * {
        margin: 0;
        padding: 0;
    }

    body {
        width: 1475px;

    }

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    input {
        border: 1px solid #ccc;
    }

    .header {
        text-align: center;
    }

    .header img {
        width: 400px;
    }

    .menu a:hover {
        text-decoration: underline;

    }

    .menu ul {
        padding: 20px 0;
        background-color: rgb(217, 217, 217);
    }

    .menu li {
        margin-left: 10%;
        display: inline-block;
        text-decoration: none;
    }

    .menu ul li a {
        text-decoration: none;
        font-size: 18px;
        color: black;
    }

    .container {
        width: 750px;
        /* height: 370px; */
        margin: 30px auto;
        padding: 30px 20px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        left: 50%;
        right: 50%;
        background-color: rgb(246, 246, 246);
        box-shadow: 4px 4px 4px rgb(169, 169, 169);
    }

    h2 {
        margin-bottom: 5px;
    }

    hr {
        margin: 20px 0;
        background-color: black;
    }

    .box-left {
        margin-top: 80px;
        margin-right: 10px;
        left: 50%;
        right: 50%;
    }

    h2 {
        margin-bottom: 5px;
    }

    .box-left p {
        margin: 20px 10px;
        font-weight: 600;
    }

    .box-right input {
        margin: 5px 0 15px 0;
        padding: 10px 130px 10px 10px;
        border-radius: 5px;
        left: 50%;
        right: 50%;
    }

    .title-login {
        color: black;
        font-weight: 600;
    }

    .title-login input:hover {
        background-color: #dfdcdc;
    }

    .sign {
        display: flex;
        justify-content: space-between;

    }

    .sign a {
        color: rgb(255, 74, 17);
    }

    .sign a:hover {
        text-decoration: underline;
        color: rgb(255, 74, 17);
    }

    .submit-login input {
        border: 1px solid #717070;

        margin-top: 20px;
        padding: 10px 123px;
        background-color: rgb(255, 74, 17);
        color: #fff;
    }

    .submit-forgot input {
        padding: 10px 24px 10px 22px;
        background-color: rgb(255, 74, 17);
        color: #fff;

    }

    .load-login {
        margin-top: 16px;
    }

    .text-note {
        text-align: center;
        margin-bottom: 5px;
    }

    .text-note p {
        color: #8d8d8d;

    }
    i{
        color: red;
        font-size: 15px;
    }
 /* dn */